/* Variables */
:root {
  --bg-color: #222327;
  --nav-color: #101013;
  --text-color: #fff;
  --main-color: #29fd53;

  --text-size: 1.25rem;
  --title-size: 2rem;
  --header-size: 5vh;
}

/* ************************************************ */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
}

nav {
  color: var(--text-color);
  background: var(--nav-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  z-index: 1;
  position: sticky;
}

/* ************************************************ */

.logo {
  font-size: var(--title-size);
  font-weight: 700;
}

.logo a {
  color: var(--main-color);
  transition: all .5s ease-in-out;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0 15px;
}

.nav-link {
  text-decoration: none;
  color: var(--text-color);
  font-size: var(--text-size);
  transition: all 0.3s ease-in-out;
}

.nav-link:hover {
  color: var(--main-color);
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
}

.toggle-button .bar {
  width: 25px;
  height: 3px;
  background-color: var(--text-color);
  border-radius: 10px;
  margin: 5px;
}

/* ************************************************ */

@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-container {
    display: none;
    width: 100%;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    width: 100%;
    background-color: var(--nav-color);
    padding: 10px;
    transition: all 0.5s ease-in-out;
  }

  .nav-links li {
    margin: 15px 0;
    display: block;
    padding: 0 25px;
    text-align: center;
    transition: all 0.5s ease-in-out;
  }

  .nav-link {
    text-decoration: none;
    color: var(--text-color);
  }

  .toggle-button {
    display: block;
  }

  .active {
    display: flex;
  }
}
