.container {
    border: 3px solid var(--main-color);
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

.product {
    display: flex;
    align-items: center;
    padding: 15px 50px;
    width: 100%;
    border-bottom: 1px solid var(--main-color);
}

.product img {
    width: 10%;
    height: auto;
}

.product h4 {
    padding: 40px;
    font-size: var(--title-size);
}

.product input {
    background: none;
    color: var(--text-color);
    font-size: var(--text-size);
    padding: 10px;
    width: 5rem;
    text-align: center;
    border-radius: 10px;
}

.product input[type="number"] {
    border: 1px solid var(--main-color);
}

.product input:hover {
    cursor: pointer;
}

.product .details {
    display: flex;
    align-items: center;
    justify-content: center;
}

.total {
    padding: 20px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.total input {
    background: none;
    color: var(--main-color);
    font-size: var(--title-size);
    padding: 20px;
    border: 3px solid var(--main-color);
    border-radius: 25px;
    transition: all .5s ease-in-out;
}

.total input:hover {
    scale: 1.2;
    cursor: pointer;
    background: var(--main-color);
    color: var(--text-color);
}

/* ************************************************* */
@media screen and (max-width: 768px) {
    .product {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .product img {
        width: 50%;
    }

    .total {
        justify-content: center;
    }
}