.reviews {
    display: block;
}

.users-reviews {
    margin: 5%;
    width: 90%;
    overflow-y: scroll;
    max-height: 60vh;
}

.review {
    border: 3px solid var(--main-color);
    border-radius: 10px;
    margin: 3%;
    padding: 10px;
}

.user {
    float: left;
    padding: 5px;
    font-weight: 700;
}

.rating {
    float: left;
    padding: 5px;
}

.comment {
    clear: both;
    padding: 5px;
}

.add-review {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add {
    background: none;
    color: var(--main-color);
    font-size: var(--title-size);
    text-align: center;
    padding: 20px;
    border: 1px solid var(--main-color);
    border-radius: 25px;
    transition: all .5s ease-in-out;
    margin-top: 15%;
}

.add:hover {
    background: var(--main-color);
    color: var(--text-color);
    cursor: pointer;
    scale: 1.2;
}