.container {
    display: flex;
}

.img img {
    max-width: 30em;
    height: auto;
    padding: 10px;
    margin: 1rem;
}

.description {
    float: right;
    padding: 20px;
}

.description h2 {
    padding: 10px 0;
    font-size: var(--header-size);
    color: var(--main-color);
}

.description p {
    font-size: var(--text-size);
}

.buyBtn {
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buyBtn button {
    background: none;
    color: var(--main-color);
    font-size: var(--title-size);
    text-align: center;
    padding: 20px;
    border: 1px solid var(--main-color);
    border-radius: 25px;
    transition: all .5s ease-in-out;
    margin-top: 15%;
}

.buyBtn button:hover {
    background: var(--main-color);
    color: var(--text-color);
    cursor: pointer;
    scale: 1.2;
}

/* ******************************************* */

@media screen and (max-width: 768px) {
    .container {
        display: block;
    }

    .img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .description {
        float: none;
        text-align: center;
    }

    .description p {
        text-align: justify;
    }
}