.container {
  border: 3px solid var(--main-color);
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
}

.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 50px;
  width: 100%;
  border-bottom: 1px solid var(--main-color);
}

.product img {
  width: 10%;
  height: auto;
}

.product h4 {
  padding: 40px;
  font-size: var(--title-size);
}

.product input,
button {
  background: none;
  color: var(--text-color);
  font-size: var(--text-size);
  padding: 10px;
  width: 5rem;
  text-align: center;
  border-radius: 10px;
}

.product input[type="number"] {
  border: 1px solid var(--main-color);
}

.product input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.product input[type="submit"],
button {
  border: none;
}

.product input,
button:hover {
  cursor: pointer;
}

.product button img {
  width: 35px;
  height: auto;
  transition: all 0.3s ease-in-out;
}

.product button img:hover {
  scale: 1.2;
}

.product .details {
  display: flex;
  align-items: center;
  justify-content: center;
}

.total {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.total input {
  background: none;
  color: var(--main-color);
  font-size: var(--title-size);
  padding: 20px;
  border: 3px solid var(--main-color);
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
}

.total input:hover {
  scale: 1.1;
  cursor: pointer;
  background: var(--main-color);
  color: var(--text-color);
}

.total h1 {
  font-size: var(--header-size);
  text-align: center;
}

/* ************************************************* */
@media screen and (max-width: 768px) {
  .product {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .product img {
    width: 50%;
  }

  .total {
    justify-content: center;
  }
}
