.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid var(--main-color);
    padding: 20px;
}

.left {
    float: left;
}

.left img {
    max-width: 25em;
    height: auto;
    padding: 10px;
    margin: 1rem;
}

.header {
    float: right;
    margin: 1rem;
    padding: 20px;
    font-size: var(--header-size);
    color: var(--main-color);
    /* width: 40em; */
    max-width: 40em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products {
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.products h2 {
    display: none;
}

.product {
    border: 3px solid var(--main-color);
    border-radius: 10px;
    min-width: 20em;
    height: 15em;
    padding: 10px;
    margin: 2em;
    transition: all .5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product a {
    text-decoration: none;
    color: var(--main-color);
}

.product:hover {
    scale: 1.2;
    z-index: 1;
    background: var(--main-color);
}

.product:hover  a{
    color: var(--text-color);
}

.img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 9rem;
}

.img img {
    width: 70%;
    height: auto;
}

.img h3 {
    font-size: var(--title-size);
    padding: 10px 0;
}

.description {
    color: var(--main-color);
    justify-content: right;
    align-items: flex-end;
    padding: 15px;
    overflow-y: hidden;
}

/* Change display to none of logo image */
@media screen and (max-width: 768px) {
    .left {
        float: none;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header {
        display: none;
    }

    .products {
        flex-direction: column;
        align-items: center;
    }

    .products h2 {
        padding: 20px;
        font-size: var(--header-size);
    }
}